<footer>
  <div class="container text-center">
    <p>
      Copyright © <script>document.write(new Date().getFullYear())</script> <a href="https://willard.network">Willard Networks</a> - All Rights
      Reserved
      <br>
      Powered by <a href="https://steampowered.com">Steam</a> <i class="fa fa-steam"></i>
    </p>
  </div>
</footer>